.contactoContainer{background-image:url("../img/contactoBack.png");background-size:cover;text-align:center;padding:100px 0;}
.contactoContainer h1{color:#fff;font-weight:700;}
.contactoContainer p{color:#fff;font-size:25px;}
.contactoContainer p b{font-size:32px;font-weight:500;}
.contactoBox{max-width:690px;margin:0 auto;width:50%;}
.formContacto{width:40%;max-width:460px;margin:0 auto;text-align:left;padding:50px 0 0 0;}
.formContacto label{color:#fff;}
.formContacto input[type="text"],.formContacto input[type="number"],.formContacto select,.formContacto textarea{width:100%;border-radius:0;border:0;}
.formContacto textarea{resize:none;}
.formFooter{overflow:hidden;}
.formFooter p{display:inline-block;font-size:12px;color:#fff;}
.formFooter p a{color:#fff;}
.formFooter input[type="checkbox"]{display:none;}
.formFooter input[type="checkbox"] + label{width:20px;height:20px;background-image:url("../img/checkbox.png");display:inline-block;margin:0 10px 0 0;}
.formFooter input[type="checkbox"]:checked + label{background-image:url("../img/checkbox2.png");}
.enviar{float:right;background-color:#fd8204 !important;width:201px !important;height:50px !important;border-right:0 !important;border-left:0 !important;border-bottom:0 !important;border-radius:0 !important;border-top:2px solid transparent !important;color:#fff !important;font-size:1.3em !important;}
.enviar:hover{border-top:2px solid #c06303 !important;}

#map{position:relative;padding:100px 0;}
#map h1{color:#0a1a72;font-weight:900;}
#map p{color:#666666;font-size:15px;}
#map p a{color:#666666;text-decoration:none;}
#map iframe{width:100%;}
.subirBox{width:100%;max-width:960px;margin:0 auto;}
.subirContainer{position:absolute;bottom:0;width:100%;text-align: left;height:40px;}
.subir:hover{cursor: pointer;}

@media (max-width: 880px) {
.contactoBox,.formContacto{width:90%;}

}
@media (max-width: 500px) {
	.serviceTitleContainer{width:100%;}
	#map{padding:20px 20px 60px 20px;}
	.formFooter{text-align:center;}
	.enviar{display:block;float:none;}
	
}