.videoContainer{background-image:url("../img/A3O-web-FinanceVideo.png");background-size:cover;text-align:center;}
#videoBox{padding:200px 0;max-width:960px;width:80%;margin:0 auto;}
.videoContainer h1{color:#fff;font-size:45px;font-weight:900;letter-spacing:2px;font-weight:800;}
.videoContainer h2{color:#fff;font-size:35px;}
.videoContainer p{color:#fff;font-size:20px;}

.h2Web{display:block;}
.h2Mobile{display:none;}
#descriptionContainer{padding:100px 0;width:80%;max-width:960px;margin:0 auto;}
#descriptionContainer .one-third{text-align:right;}
#descriptionContainer h1{color:#0a1a72;font-weight:800;}
.sectionDescription{color:#4d4d4d;font-size:20px;font-weight:500;}
.orangeText{color:#fd8204;font-size:16px;}
.orangeText{}
.descriptionList{list-style-image: url("../img/bullet.png");}
.descriptionList li{}

.serviciosContainer{width:100%;background-color:#fff;text-align:center;padding:100px 0;}
.serviceTitleContainer{width:100%;overflow:hidden;}
.serviciosContainer h1{color:#0a1a72;font-weight:800;border-bottom:1px solid #666;padding:0 0 20px 0;}
.serviciosContainer h2{font-size:39px;}
.serviciosContainer h2 b{font-weight:800;}
.serviceCaja{width:85%;min-height:204px;}
#servicioBox .row{padding:50px 0 0 0;}
.serviciosContainer .one-third{text-align:left;border-right:1px solid #666;}
.serviciosContainer .one-third:last-child{border-right:none;}
.serviceTitleContainer{padding:25px 0;}
.serviceTitleContainer img{float:left;width:50px;}
.serviceTitleContainer p{float:right;width:75%;margin:0;color:#666;font-weight:700;font-size:20px;}
.servicioDescription{color:#838383;font-weight:500;}

.socialBox{background:#0a1a72;padding:30px 0;}
.socialBox .one-half:first-child{text-align:right;}
.socialBox .one-half{text-align:left;}
.socialBox p{color:#fff;margin:0;}	
.socialBox .one-half img{padding:0 20px 0 0;}

#modeloLeftContainer{padding:10% 0 0 0;}
#modeloContainer{padding:100px 0;}
#modeloContainer ul{list-style-image: url("../img/bullet2.png");padding-left:0;}
#modeloContainer li h2{color:#0a1a72;font-weight:800;}
#modeloContainer li h2 span{font-weight:500;}
.greyText{color:#4d4d4d;font-size:25px;line-height:40px;}
.blackText{font-weight:500;}
.blackText b{}

.culturaContainer{background:#fff;padding:100px 0;text-align:center;}
.culturaContainer h1{color:#0a1a72;font-weight:800;border-bottom:1px solid #666;padding:0 0 20px 0;}
.culturaContainer h2{margin: 0 0 50px 0;font-size:40px}
.culturaContainer h2 b{font-weight:800;}
#culturaContainerRow{text-align:left;}
#culturaContainerRow .pContainer{max-width:240px;padding:15px 0 0 0;}
.pContainer p{color:#838383;}

.contactoContainer{background-image:url("../img/contactoBack.png");background-size:cover;text-align:center;padding:100px 0;position:relative;}
.contactoContainer h1{color:#fff;font-weight:700;}
.contactoContainer p{color:#fff;font-size:25px;}
.formContacto{width:40%;margin:0 auto;text-align:left;padding:50px 0 0 0;}
.formContacto label{color:#fff;}
.formContacto input[type="text"],.formContacto input[type="number"],.formContacto select,.formContacto textarea{width:100%;border-radius:0;border:0;}
.formContacto textarea{resize:none;}
.formFooter{overflow:hidden;}
.formFooter p{display:inline-block;font-size:12px;color:#fff;}
.formFooter p a{color:#fff;}
.formFooter input[type="checkbox"]{display:none;}
.formFooter input[type="checkbox"] + label{width:20px;height:20px;background-image:url("../img/checkbox.png");display:inline-block;margin:0 10px 0 0;}
.formFooter input[type="checkbox"]:checked + label{background-image:url("../img/checkbox2.png");}
.enviar{float:right;background-color:#fd8204 !important;width:201px !important;height:50px !important;border-right:0 !important;border-left:0 !important;border-bottom:0 !important;border-radius:0 !important;border-top:2px solid transparent !important;color:#fff !important;font-size:1.3em !important;}
.enviar:hover{border-top:2px solid #c06303 !important;}

.subirBox{width:100%;max-width:960px;margin:0 auto;}
.subirContainer{position:absolute;bottom:0;text-align: left;height:40px;}
.subir:hover{cursor: pointer;}
@media (max-width: 1090px) {.serviceCaja{width:90%;}}
@media (max-width: 1065px) {
	.serviceTitleContainer p{width:75%;font-size:15px;}
	.serviciosContainer .one-third{border-right:none;}
}
@media (max-width: 880px) {
	.videoContainer h1{font-size:1.5em;}
	.videoContainer h2{font-size:1.5em;}
	.videoContainer p{font-size:1em;}
	.u-max-full-width{width:50%;}
	#videoBox{padding:50px 0;margin:0 auto;width:80%;}
	.videoPlay{width:35%;}
	#descriptionContainer{padding:50px 20px;}
	#descriptionContainer .one-third{text-align:center;padding:0 0 10px 0;}
	.serviciosContainer{padding:25px 0;}
	.serviciosContainer .one-third{border-right:none;}
	.serviceTitleContainer{width:50%;}
	.serviceCaja{min-height:auto;}
	.socialBox .one-half:first-child,.socialBox .one-half{text-align:center;padding:25px 0;}
	#modeloContainer .one-half:last-child{text-align:center;}
	#modeloContainer{padding:20px;}
	#culturaContainerRow{padding:20px;}
	#culturaContainerRow{text-align:center;}
	.h2Web{display:none;}
	.h2Mobile{display:block;line-height:0.7em;}
	.serviciosContainer h2 b{font-size:0.5em;}
	.formContacto{width:90%;}
	.pContainer{max-width:none !important;}
	#servicioBox .row{padding:0;}
	.culturaContainer h2 b{font-size:0.8em;}
	#modeloLeftContainer{padding:0 0 0 20px;}
}
@media (max-width: 500px) {
	.serviceTitleContainer{width:100%;}
	.formFooter{text-align:center;}
	.enviar{display:block;float:none;}
}