.videoContainer{background-image:url("../img/videoBack.png");background-size:cover;text-align:center;}
#videoBox{padding:200px 0;}
.videoContainer h1{color:#fff;font-size:45px;font-weight:900;letter-spacing:2px;margin:0;}
.videoContainer h4{color:#fff;font-size:40px;font-weight:400;}
.videoContainer h4 b{color:#fd8204;}
.videoContainer p{color:#fff;font-size:28px;}

.socioContainer{background-image:url("../img/A3O-FondoAzulM.png");background-size:cover;width:100%;padding:100px 0;overflow: hidden;}
.socioContainer p{color:#fff;}
.socioContainer .socioTitle{font-size:2.2em;text-align:center;}
.socioContainer .socioTitle span{font-size:0.9em;text-align:justify;}
.socioContainer .socioText{font-size:1.3em;line-height:2em;text-align:center;}
.socioBox{max-width:640px;width:100%;margin:0 auto;}
.a3oSocio{width:100%;}
#solucionesContainer{text-align:center;padding:70px 0;}
.solucionesTitle{color:#4d4d4d;font-size:40px;margin:0 0 50px 0;}
.solucionesTitle b{color:#0a1a72;}
#solucionesContainer .column{border-left:1px solid #838383;margin-left:0;padding:0 3%;}
#solucionesContainer .column:first-child{border:none;}
#solucionesContainer .one-third{width:33.0006%;}
.iconContainer{width:70%;margin:0 auto;min-height:240px;position:relative;}
#secondRow{max-width:640px;margin:60px auto 0 auto;}
.iconContainer2{width:40%;margin:0 auto;min-height:350px;position:relative;}
.icon{padding:0 0 30px 0;width:60px;-webkit-transition: width 2s; transition: width 2s;}
.titleContainer{height:50px;}
.iconTitle{color:#666;font-weight:800;font-size:17px;}
.descContainer{min-height:160px;}
.iconDesc{font-weight:500;}
.linkContainer{text-align:center;}
.linkIcon{color:#f89728;text-decoration:none;font-weight:700;font-size:16px;}

.culturaBackground{background-color:#f7f7f7;width:100%;}
.culturaContainer{position:relative;margin:0 auto;max-width:960px;padding:100px 0 100px 0;text-align: center;}
#icoGraph{position:absolute;}
.asesoria{top:90px;left:0px;}
.atencion{top:430px;left:0px;}
.admin{top:430px;left:600px;}
.culturaTitle{position:absolute;top:325px;left:415px;font-size: 40px;color:#4c4c4c;}
.culturaTitle b{font-weight:700;font-size: 40px;color:#133d8d;}
.culturaTitle span{font-weight:700;font-size: 35px;color:#133d8d;}
.subirContainer{position:absolute;bottom:0;width:100%;margin:0 auto;text-align: left;height:40px;}
.subir:hover{cursor: pointer;}

@media (max-width: 1200px) {
	.iconContainer{width:90%;margin:20px auto;min-height:0px;}
}
@media (max-width: 960px) {
	.culturaContainer{width:50%;}
	.asesoria{top:35px;left:-50%;width:80%}
	.atencion{top:55%;left:-50%;width:80%;}
	.admin{top:55%;left:70%;width:80%;}
	.rueda{width:100%;}
}
@media (max-width: 880px) {
	#videoBox{padding:50px 0;width:80%;margin:0 auto;}
	.socioBox{width:80%;margin:0 auto;}
	.socioContainer{padding:50px 0;}
	.solucionesTitle{font-size:41px;}
	.socioContainer .socioText{font-size:1em;}
	.videoContainer h1{font-size:1.5em;}
	.videoContainer h4{font-size:1.5em;}
	.videoContainer p{font-size:1em;}
	.videoPlay{width:35%;}
	.iconContainer{width:90%;margin:20px auto 50px auto;min-height:0px;}
	.icon{width:120px;padding:0;}
	#solucionesContainer .one-third{width:100%;}
	#solucionesContainer{padding:70px 0 0 0;}
	.culturaContainer{padding:50px 0 100px 0;}
	
	.descContainer{min-height:0;}
	#secondRow{margin:0 auto;}
	#solucionesContainer .column{border:none;}
	.linkIcon{position:initial;}
}

@media (max-width: 600px) {
	.atencion{top:55%;}
	.admin{top:55%;}
}