@font-face{font-family:'Conv_BankGothicReg';src:url('fonts/BankGothicReg.eot');src:local('☺'), url('fonts/BankGothicReg.woff') format('woff'),url('fonts/BankGothicReg.ttf') format('truetype'),url('fonts/BankGothicReg.svg') format('svg');font-weight:normal;font-style:normal;}
