/*	STYLE POST*/
/*
	#################
	#
	#	CUERPO DEL POST
	#
	#################
*/
.post_contenedor{
	width: 100%;
}
.post_contenido{
	background:white;
	padding: 3%;
	width:100%;
}
	/*	DIV DONDE ESTA LA IMAGEN DE PORTADA	*/
.image-container{
	text-align:center;
	width:100%;
	
}
.image-post{
	width:100%;
	height: auto;
}

	/*	DIV DONDE ESTA EL CONTENDIDO DEL POST*/
.post_contenedor_texto{
}
	/*	DIV EL TITULO	y categoRIA*/
.post_contenedor_titulo{
	text-align:left;
	float:left;
}
.post_contenedor_titulo a{
	color:gray;
}
.post_contenedor_categoria{
	text-align:right;
}
	/*	*/
.post-relacionados{
	width: 70%;
}
h6{
	color: gray;
}
.alt1{
	width: 70%;
}
.submit-container{
	background: white;
	width:60%;
	text-align:right;
}
/*	3#####################
	#
	#	PARA DESCARGAS
	#
	#####################*/
	.div-downloads{
		width:100%;
		background:white;
		padding:20px;
	}
.table-downloads{
	border-bottom:1px solid black;
	
}
.table-downloads td{
	border-bottom:1px solid black;
}
.table-downloads th{
	border-bottom:1px solid orange;
}
.file-container{
	width:100%;
}
.file-post{
	text-decoration:none;
}

/*	################
	#
	#	footer del post
	#
	################*/
.container_footer_post{
	
	margin-top:1em;
}
	/*	DIV DE LAS TAGS		*/
.tags_container{
	padding:5px;
}
	/*	a DE CADA TAG	*/
.post_tag{
	margin-top:1em;
	background:gray;
	padding:5px;
	color:white;
}

.share_container{
	margin-top:1em;
	border: 1px solid gray;
	padding: 10px;
}
.share_container input{
	display:block-inline;
	*display:block-inline;
	vertical-align: middle;
	zoom:0;
	margin:0;
	border:0px;
	font-size:0;
	padding:0;
	text-indent: 0px;
	-moz-border-radius:0px;
	-webkit-border-radius:0px;
	border-radius:0px;
	background:transparent;
	-moz-box-shadow:none;
	-webkit-box-shadow:none;
	box-shadow:none;
	-moz-box-sizing: none;
	-webkit-box-sizing: none;
	box-sizing: none;
}
.alt1{
	width:100%;
}
/*	#########################
	#
	#	POST RELACIONADOS
	#
	########################*/
	.post-relacionados{
		width:100%;
	}
	.posts_related{
		table-layout: fixed;
	}
	.post_related_table td{
		width:25%;
		padding: 0px 0px;
		vertical-align:top;
	}
	.post-thumbimage-container{
	}
	.post-related-title{
		width:80%;
		font-size:10px;
	}
	.post-related-title a{
		color:gray;
		font-size:15px;
	}
	.image-thumb{
		width:80%;
	}
	
	/*
	#########################
	#
	#	Comentarios FACEBOOK
	#
	########################*/
	.commentarios-face{
		width:100%;
	}