/*FONTS:
	'MyriadPro-Bold'
	'MyriadPro-Semibold'*/
/*TABLE MAESTRA*/
body{
    background-color:rgb(235,235,235);
    font-family: sans-serif,helvetica;
    color: rgb(133,133,133);
    text-align:center;
}

.master-div{
	text-align:center;
}
.master-table{
	margin:0 auto;
	width:50%;
}
.master-table hr{
	margin-top:0;
}

p{
	color: rgb(133,133,133);
}
a{
	text-decoration:none;
}
td{
    border-style: none;
}
.header{
    background-color: gray;
}
/*a header*/
.head_link{
    text-decoration: none;
    color:black;
}
ul.li{
    display:block;
}

/*
    ##################
    ##
    ##  SIDEBAR
    ##
    ##################  */
    
  .side-container{
  	text-align:center;
  }
  .side-cont-center{
  	width:260px;
  	margin: 0 auto;
  }
  .sidebar-1{
  	text-align:center;
  	width:260px;
  	margin:0 auto;
  	padding-top:2.7em;
  	background-image: url('../img/A3O_Piezas/Menu/A3OBlog_Publicaciones.png'); 
  	background-repeat: no-repeat;
  }
  .fondo_gris{
  	background: rgb(224,224,224);
  }
  .table-sidebar{
  	padding:0;
  	margin:0;
  	width:50%;
  }
  .table-sidebar th{
  	text-align:right;
  }
  /*	ICONO DE SIDEBAR	*/
  
  .icon-a3o{
  	width:50px;
  	height:50px;
  }
  /*	LIGAS A CADA CATEGORIA	*/
  
  .link_side{
  	text-decoration:none;
  	color: gray;
  	font-style:italic;
  }
  
  /*	DIV CONTIENE LUPA E INPUT SEARCH	*/
  .side-search{
  	height: 40px;
  }
  /*	DIV DE INPUT	*/
  .input-search{
  	float:right;
  	background: #5175B1;
  	width:80%;
  	 border-bottom-right-radius: 7px;
  }
  /*	DIV DE INPUT IMAGE SUBMIT	*/
  .botton-lupa{
  	float:left;
  	width:20%;
  	border-bottom-left-radius: 7px;
  	background: #CAD6E9;
  	text-align:right;
  }
  /*	INPUT BUSCAR	*/
  .word_2_search{
  	color:white;
  	font-size:16px;
  	-moz-border-radius:0px;
	-webkit-border-radius:0px;
	border-radius:0px;
	border-bottom-right-radius: 7px;
	background:transparent;
	-moz-box-shadow:none;
	-webkit-box-shadow:none;
	box-shadow:none;
	-moz-box-sizing: none;
	-webkit-box-sizing: none;
	box-sizing: none;
	width:100%;
	height:40px;
	}
	/*PLACEHOLDER WHITE*/
::-webkit-input-placeholder { 
    color:    white;
}
:-moz-placeholder {
   color:    white;
   opacity:  1;
}
::-moz-placeholder {
   color:    white;
   opacity:  1;
}
:-ms-input-placeholder {
   color:    white;
}
  /*	INPUT IMAGE SUBMIT	*/
  .search-botton{
  	display:block;
	*display:block;
	vertical-align: middle;
	zoom:0;
	margin:0;
	border:0px;
	font-size:0;
	padding:0;
	text-indent: 0px;
	-moz-border-radius:0px;
	-webkit-border-radius:0px;
	border-radius:0px;
	background:transparent;
	-moz-box-shadow:none;
	-webkit-box-shadow:none;
	box-shadow:none;
	-moz-box-sizing: none;
	-webkit-box-sizing: none;
	box-sizing: none;
	height:40px;
  }
  /*	NEWSLETTER SIGN	*/
  .text-mail{
  	text-align:left;
  }
  /*	NEWSLETTERS	DIV*/
  .newsletter-div{
  	text-align:left;
  	width:100%;
  }
  /*MAIL LEFT DIV*/
  .news-left{
  	width:100%;
  	float:left;
  	padding:0;
  	margin:0;
  }
  .mail-news{
  	background:transparent;
  	border: 1px solid gray;
	-moz-box-shadow:none;
	-webkit-box-shadow:none;
	box-shadow:none;
	-moz-box-sizing: none;
	-webkit-box-sizing: none;
	box-sizing: none;
	border-bottom-right-radius: 0px;
	border-top-right-radius: 0px;
	border-bottom-left-radius: 7px;
	border-top-left-radius: 7px;
	height:30px;
	width:70%;
	padding:0;
	margin:0;
  }
  /*.news-right{
  	float:right;
  	width:30%;
  	padding:0;
  	margin:0;
  }*/
  input.newsBotton{
  	border:1px;
  	padding:0;
  	margin:0;
  	height:30px;
  	width:30%;
  	background:gray;
  	color:white;
  	font-size:12px;
  	border-bottom-right-radius: 5px;
	border-top-right-radius: 5px;
	border-bottom-left-radius: 0px;
	border-top-left-radius: 0px;
	
	-moz-box-shadow:inset 0 0 0px #ccc;
	-webkit-box-shadow:inset 0 0px 0px #ccc;
	box-shadow:inset 0 0px 0px #ccc;
	-moz-box-sizing: none;
	-webkit-box-sizing: none;
	box-sizing: none;
	
	text-shadow:0 0px 0 #fff;
  	
  }
  input.newsBotton:hover{
  	color:black;
  }
  
  /*ACEPTO TERMINOS*/
  .accept-div{
  	width:100%;
  	text-align:left;
  }
  /*	###########
  	#
  	#	POST DESTACADOS
  	#
  	################*/
  #post-destacados{
  	border: 1px solid gray;
  	border-bottom-right-radius: 5px;
	border-top-right-radius: 5px;
	border-bottom-left-radius: 5px;
	border-top-left-radius: 5px;
	padding:15px;
  }
  #post-destacados hr{
  	margin: 10px 0px;
  }
  /*	TABLE	*/
  .post_destacados{
  	margin:0;
  }
  .post_destacados td{
  	padding: 7px 0px;
  }
  .destacado-link-div{
  	padding-left:1em;
  }
  .post_destacados a{
  	text-decoration:none;
  	color:black;
  	font-style:bold;
  	padding:0px;
  	margin:0px;
  }
  .post_destacados p{
  	margin:0px;
  	font-size:10px;
  }
  /*	LETRERO	*/
  .title_destacadas{
  	font-size:18px;
  	font-style:bold;
  	padding:0px;
  	margin: 0px;
  }
  /*	IMAGEN THUMBNAIL*/
  .thum-destacado-container{
  }
  .thum-destacado{
  	width:80px;
  	height:60px;
  }
  
  .tweets{
  	border: 1px solid gray;
  	border-bottom-right-radius: 5px;
	border-top-right-radius: 5px;
	border-bottom-left-radius: 5px;
	border-top-left-radius: 5px;
  }
  
  
  /*#############################
  ##
  #		TIMELINE
  ##
  ############################*/
  	/*table donde estan todos los post*/
  .cuadro-timeline{
  	width:60%;
  }	
  #table-post{
  	width:50%;
  }
  #table-posts td{
  	height:100px;
  }
  
  hr{
  	border: 1px solid gray;
  	width:200px;
  }
  .timeline_contenedor_post{
  	width: 200px;
  	height: 425px;
  	text-align:center;
  }
  
  /*thum image div*/
  .thumbimage-container{
  	width:200px;
  	height:200px;
  	text-align:center;
  }
  .image-thumb{
  	margin-left: auto;
    	margin-right: auto;
  }
  .link_post{
  	color: rgb(20,61,141);
  }
  .keep_reading{
  	color:orange;
  }
  
  .timeline_contenedor_texto{
  	text-align:left;
  	width: 200px;
  	height:100px;
  }
  
  
  