
@font-face {
	font-family: "myriad";
	src: url("../myriad/myriad.otf");
	font-family:faksjf;
}


body{
	background-color:#EAEAEA;
	padding-top:0px;
	overflow-x: hidden;

}

h8{
	font-family:myriad, Arial;
	font-size:22px;
	font-weight:bold;
	color:#203183;

}

h9{
	font-family:myriad, Arial;
	font-size:22px;
	font-weight:bold;
	color:#FF8800;
}

h10{
	font-family:myriad, Arial;
	font-size:22px;
	font-weight:bold;
	color:#C6002A;
}


#intro
{
	background-image: url(" ../images/backgroundgray.png");
	height: 501px;
	width: 960px;
	background-repeat:no-repeat;
	margin-left:auto;
	margin-top:0px;
	margin-right:auto;

}

.textintro{

	color:white;
	
	font-size:13px;
	font-family:myriad,Arial;

}
#boxes{
	
	width: 970px;
	margin-left:auto;
	margin-right:auto;
	padding-top:20px;
	padding-left:8px;
	position:relative;

}
#boxcontentservicios{
	background-image: url("../images/serviciosbox.png");
	background-repeat:no-repeat;
	width:313px;
	height:383px;
	position:relative;
	float:left;

}


#boxcontentempleo{
	background-image: url("../images/vacantes.png");
	background-repeat:no-repeat;
	width:313px;
	height:383px;
	position:relative;
	float:left;
	
	overflow:auto;
	

}

img{

	border:0;
}

#boxcontentmini{
	background-image: url("../images/culturabox.png");
	background-repeat:no-repeat;
	width:313px;
	height:100px;
	position:relative;
	float:left;
	

}

.boxcontenttext{
	padding-top:40px;
	font-size:11px;
	font-family:myriad,Arial;
	color:#717174;
	text-align:center;
}



.contentservices{

	height:300px;
	width:200px;
	padding-top:30px;

}

.servicios{

	height:51px;
	width:300px;
	position:relative;

}

.serviciosimg{

	height:51px;
	width:51px;
	position:absolute;

}


.serviciostext2{

	height:51px;
	width:200px;
	text-align:left;
	
	position:absolute;
	
	
	

}
.serviciostext{
	color:#717174;
	font-family:myriad,Arial;
	font-style:italic;
	font-size:14px;
	text-decoration: none;
	cursor:pointer;
}
.serviciostext:link { text-decoration: none; }
.serviciostext:active { text-decoration: none; }
.serviciostext:visited { text-decoration: none; }
.serviciostext:hover {  text-decoration: none; }



#footer{

	color:#717174;
	margin-left:auto;
	margin-right:auto;
	width:930px;
	padding-top:0px;
	font-family:myriad,Arial;
	font-size:14px;
	font-weight:bold;
	position:relative;
	padding-bottom:60px;	
	 text-decoration: none;
	
}

#footerindex{

	color:#717174;
	margin-left:auto;
	margin-right:auto;
	width:930px;
	padding-top:380px;
	
	position:relative;
	
}


#footerline{



width:930px;
height:1px;
border-bottom-style:solid;
border-bottom-width:1px;


padding-top:40px;



}


a:link   
{   
	text-decoration:none;  
	color:#717174;
	
} 
a{
	color:#e5e5e5;
}

a:visited{
	color:#717174;
}

#footerboxes{
	padding-top:20px;
	width:195px;
	padding-left:0px;
	position:absolute;
	 text-decoration: none;

}


#footerboxesimg{
	padding-top:13px;
	width:195px;
	padding-left:0px;
	position:absolute;

}






#contentpage{
	margin-left:auto;
	margin-right:auto;
	margin-top:86px;
	width:965px;
	height:400px;
	position:relative;


}



#contentpageabout{
	margin-left:auto;
	margin-right:auto;
	width:965px;
	height:300px;
	position:relative;


}

#map{

	position:relative;
}

#iframe{
	
	color:#717174;
	font-size:12px;
	font-family:myriad,Arial;
	position:absolute;
	text-align:center;
	font-weight:bold;

}

#finanzas{




}

#boxescontactomail{
	width:453px;
	height:388px;
	background-image:url("../images/Untitleeed-1.png");
	background-repeat: no-repeat;
	float:left;
	position:relative;
	background-size:450px;
}
#boxescontactomail2{
	
	width:170px;
	height:392px;
	
	background-repeat: no-repeat;
	
	}




#boxescontactomap{

	width:471px;
	height:336px;
	
	
	
}

#boxescontactomap2{

	width:471px;
	height:301px;
	background-image:url("../images/visitenos.png");
	background-repeat: no-repeat;
	background-size:450px;
	

}



#imageservices{
	
	
	width:960px;
	height:300px;
	position:absolute;

}

#tittleservice{
	font-size:50px;
	right:220px;
	color:#717174;
	padding-top:300px;
	font-family:myriad,Arial;
	font-weight: bold;
	position:absolute;
}
#subtittleservice{
	font-size:24px;
	right:220px;
	color:#717174;
	padding-top:355px;
	font-family:myriad,Arial;
	font-style:italic;
	position:absolute;
}


#iconservice{

	padding-left:770px;
	padding-top:233px;
	position:absolute;

}


.subtitle{

	background-image:url("../images/subtitle.png");
	
	
	background-repeat:no-repeat;

}

h4{


	padding-left:260px;
	color:#F79727;
	font-family:myriad, Arial;
	font-size:20px;
	font-style:italic;
	font-weight:bold;
	
	
}


#contentbody{
	width:960px;
	margin-left:auto;
	margin-right:auto;
	
}

.banner1{
	background-image:url("../images/banner1.png");
	background-repeat:no-repeat;
	color:#717174;
	font-size:12px;
	width:646px;
	height:117px;
	padding-left:130px;
	padding-bottom:20px;
	float:right;
	font-family:myriad, Arial;
	position:relative;

}

.banner2{
	background-image:url("../images/banner2.png");
	background-repeat:no-repeat;
	
	width:646px;
	height:117px;
	padding-left:130px;
	padding-bottom:20px;
	float:right;
	position:relative;

}

.contentbanner2title{

	width:220px;
	left:10px;
	top:45px;
	font-size:13px;
	font-family:myriad, Arial;
	font-style:italic;
	text-align:center;
	color:#717174;
	position:absolute;

}


.contentbanner2text{

	width:350px;
	left:260px;
	top:30px;
	font-size:13px;
	font-family:myriad, Arial;
	color:#717174;
	position:absolute;

}


.banner3{
	background-image:url("../images/bigbox.png");
	background-repeat:no-repeat;
	
	width:646px;
	height:331px;
	padding-left:130px;
	padding-bottom:20px;
	float:right;
	position:relative;

}


.imagebanner3{
	position:absolute;
	padding-top:20px;


}



#modelo_a3o{
	height: 450px;
	width: 857px;
	margin-left:auto;
	margin-right:auto;
	position:relative;
}

#bannerasesoria{
	background-image:url("../images/background_asesoria.png");
	width:274px;
	height:440px;
	background-repeat:no-repeat;
	
		
	position:absolute
	
	
}

#bannerasesoriaabout{
	background-image:url("../images/flecha1.png");
	width:274px;
	height:440px;
	background-repeat:no-repeat;
	
		
	position:absolute
	
	
}
#bannnerpadding{
	padding-left:15px;
}

#bannnerpadding2{
	padding-left:5px;
}



#bannerasesoriadescription{

	font-size:10px;
	font-style:italic;
	font-family:myriad, Arial;
	color:#717174;
	padding-left:20px;

}


#banneradmindescription{

	font-size:10px;
	font-style:italic;
	font-family:myriad, Arial;
	color:#717174;
	padding-left:45px;

}

#banneratenciondescription{

	font-size:10px;
	font-style:italic;
	font-family:myriad, Arial;
	color:#717174;
	padding-left:50px;
	padding-right:20px;

}


h11{
	font-size:11px;
	font-weight:bold;
	font-family:myriad, Arial;
	color:#717174;
	

}

h12{
	font-size:20px;
	font-weight:bold;
	font-family:myriad, Arial;
	color:#717174;
	color:#4A80BA;
	font-style:italic;
	

}

h13{
	font-size:20px;
	font-weight:bold;
	font-family:myriad, Arial;
	color:#717174;
	color:#ED913E;
	font-style:italic;
	

}

h14{
	font-size:20px;
	font-weight:bold;
	font-family:myriad, Arial;
	color:#717174;
	color:#B91D23;
	font-style:italic;
	

}
#bannertittle{
	text-align:center;
	padding-bottom:40px;
	margin-top:-20px;
	width:250px;
	

}
#bannertittle2{
	width:320px;
	text-align:center;
	padding-top:15px;
	margin-top:-20px;
	padding-bottom:40px;

}

#idiomas{
	
	font-family:myriad, Arial;
	color:#e5e5e5;
	font-size:15px;
	
	height:52px;
	padding-top:25px;

}



#subtittlebanner{

	margin-top:0px;
	padding-bottom:0px;
	

}

#subtittlebanner3{

	margin-top:-15px;
	padding-bottom:10px;
	

}


#banneradmin{
	background-image:url("../images/background_admin.png");
	width:308px;
	height:440px;
	background-repeat:no-repeat;
	position:absolute

}

#banneradminabout{
	background-image:url("../images/flecha2.png");
	width:308px;
	height:440px;
	background-repeat:no-repeat;
	position:absolute

}


#banneratencion{
	background-image:url("../images/background_atencion.png");
	width:282px;
	height:440px;
	background-repeat:no-repeat;
	position:absolute;

}

#banneratencionabout{
	background-image:url("../images/flecha3.png");
	width:282px;
	height:440px;
	background-repeat:no-repeat;
	position:absolute;

}

.containtercajas{

	margin-left:auto;
	margin-right:auto;
	width:500px;
	height:320px;
	
	position:relative;
}

.cajas{
	background-image:url("../images/cajas.png");
	width:231px;
	height:140px;
	
	position: absolute;
	
	background-repeat:no-repeat;

}
.imgEffect:hover
{
	
	position: relative; 
	/*Anima el hover con aumento de tamaño 1.3*/
	transform: scale(1.05);
	-webkit-transform: scale(1.05);
	-moz-transform: scale(1.05);
	-o-transform: scale(1.05);
	transition: transform 0.6s linear;
	-webkit-transition: -webkit-transform 0.6s linear;
	-moz-transition: -webkit-transform 0.6s linear;
	-o-transition: -webkit-transform 0.6s linear;
	/*Hace que siempre que hagamos hover el article quede encima de todos*/
	z-index: 99;
	
}


.titlecajas{


	font-size:16px;
	font-style:italic;
	font-family:myriad, Arial;
	color:#717174;
	padding-top:5px;
	text-align:center;
	
	

}


.contentdescription{
	margin-left:auto;
	margin-right:auto;
	width:535px;
	height:550px;
	
}

.descripcion{
	width:620px;
	padding-right:90px;
	padding-bottom:20px;
	float:right;
	font-size:13px;
	font-family:myriad, Arial;
	color:#717174;
}

.textbanner{

	width:575px;
	padding-top:10px;
	position:absolute;
	left:70px;
	
}

h7{
	color:#133D8C;
	font-size:11pt;
	
	font-family:myriad, Arial;
}

.containerform{
	width:480px;
	padding-top:30px;
	
	color:#717174;
	font-size:12px;
	font-style:italic;
	font-family:myriad, Arial;
	margin-left:70px;
	
}

.containerform2{
	width:220px;
	margin-top:15px;
	padding-left:10px;
		font-style:italic;
	color:#717174;
	font-size:12px;
	
	
	font-family:myriad, Arial;
}



#menutop{

	margin-left:auto;
	width:100%;
	height:86px;
	top:0px;
	margin-right:auto;
	text-align:center;
	z-index:500;
	left:-2px;
	position:fixed;
	
	background-image: url("../images/menuback.png");
	background-repeat:repeat;

}


.back-to-top {
			position: fixed;
			bottom: 2em;
			right: 0px;
			text-decoration: none;
			color: #000000;
			background-color: rgba(235, 235, 235, 0.80);
			font-size: 12px;
			padding: 1em;
			display: none;
}

.back-to-top:hover {	
			background-color: rgba(135, 135, 135, 0.50);
}	


#textboxescontactotel{

	text-align:center;
	
	color:#717174;
	font-size:13px;
	
	font-family:myriad, Arial;
	
	margin-top:40px;
	
}

#colora3o{
	color:#f79727;
	padding-bottom:10px;
	font-family:myriad, Arial;
	
	


}










