/*
	BODY
*/

html{
    background-color:#ebebec;

    background-image:-webkit-radial-gradient(center, #ebebec, #b4b4b4);
    background-image:-moz-radial-gradient(center, #ebebec, #b4b4b4);
    background-image:radial-gradient(center, #ebebec, #b4b4b4);

    min-height:900px;
}

body{
    font:15px/1.3 Arial, sans-serif;
    color: #4f4f4f;
}

td, th{
	border-bottom: none;
}
a, a:visited {
    outline:none;
}

a:hover{
    text-decoration:none;
}

section, footer, header, aside{
    display: block;
}


/*	#########################
	#
	#	HEADER
	#
	########################	*/
ul.li{
    display:block;
}
/*	#########################
	#
	#	SIDEBAR
	#
	########################	*/
	/*	EL contenedor completo	*/
.side-container{
	width: 100%;
	
}
	/*	DIV Barra con los links*/
.side-menu{
	margin: 0 auto;
	padding-top:3em;
	width:206px;
	background-image: url("../../img/MenuAdmin/A3OBlog_Barra_Admin.png");
	background-repeat: no-repeat;
    	border-top-left-radius: 12px; border-top-right-radius: 12px;
}
.table-sidebar{
	margin:0;
}
	/*	ICONOS	*/
.icon_admin{
	width:40px;
	height:40px;
}
	/*LIGAS */
.link_side{
    text-decoration: none;
    color:black;
    font-size:12px;
}
.title-side{
    background-color: rgb(168,168,168);
    text-align: center;
    padding-top: 10px;
    font-size: 16px;
    border-top-left-radius: 12px; border-top-right-radius: 12px;
}
.side-search{
    	background-color: rgb(193,193,193);
    	border-top-left-radius: 0px; border-top-right-radius: 0px;
	border-bottom-left-radius: 5px; border-bottom-right-radius: 5px;
}
.div_lupa{
	width:10%;
	float:left;
}
.div_input_search{
	width:90%;
	float:right;
}

.search_img{
	display:block;
	*display:block;
	vertical-align: middle;
	zoom:0;
	margin:0;
	border:0px;
	font-size:0;
	padding:0;
	text-indent: 0px;
	-moz-border-radius:0px;
	-webkit-border-radius:0px;
	border-radius:0px;
	background:transparent;
	-moz-box-shadow:none;
	-webkit-box-shadow:none;
	box-shadow:none;
	-moz-box-sizing: none;
	-webkit-box-sizing: none;
	box-sizing: none;
}

.search_input{
	width:100%;	
	background:transparent;
	border-top-left-radius: 0px; border-top-right-radius: 0px;
	border-bottom-left-radius: 0px; border-bottom-right-radius: 5px;
}
.search_input::-webkit-input-placeholder{
   color: white;
}

.search_input:-moz-placeholder { /* Firefox 18- */
   color: white; 
}

.search_input::-moz-placeholder {  /* Firefox 19+ */
   color: white; 
}

.search_input:-ms-input-placeholder {  
   color: white;
}

/*
		post
*/

.post_{
    border:5px solid gray;
    background-color:rgb(235,235,235);
}

.container-post{
	width: 75%;
	border: 5px solid rgb(193,193,193);;
	margin-left: 1em;
	text-align: left;
	border-radius: 5px;
}

.container-post-2{
	padding: 10px;
	border-bottom-right-radius: 12px;
	border-bottom-left-radius: 12px;
	background: #ebebec;
}

.imageUpload{
	border: 1px solid gray;
	background: transparent;
	width: 99%;
	height: 150px;
	padding-top: 2.5em;
	margin-top: 10px;
	text-align: center;
}

.selectService{
	width: 90%;
	text-align: left;
	height: 30px;
	color: gray;
}
.selectCat{
	background: transparent;
	border-color: gray;
}
.text-titulo{
	border-radius: 0px;
	border-color: gray;
	background: transparent;
}
.text-contenido{
	height: 60px;
	resize:none;
	border-radius: 0px;
	border-color: gray;
	background: transparent;
}

.container-post-3{
	border-bottom-right-radius: 12px;
	border-bottom-left-radius: 12px;
	background: gray;
	text-align: right;
	height: 50px;
}

.botton-submit{
	margin-top: 10px;
	margin-right: 10px;
	font-size: 10px;
	height: 30px;
	color: gray;
}


/*	################################
	#
	#	DOWNLOADS
	#
	###############################	*/
	
	.button-downloads-containers{
		width:100%;
		background-color: rgb(235,235,235);
		text-align:right;
		margin:0 auto;
		border-bottom:10px solid gray;
		border-bottom-right-radius:5px;
		border-bottom-left-radius:5px;
		padding:20px 15px 30px 15px;
		
	}
	.thrash_img{
		vertical-align: middle;
		zoom:0;
		margin:0;
		border:0px;
		font-size:0;
		padding:0;
		text-indent: 0px;
		-moz-border-radius:0px;
		-webkit-border-radius:0px;
		border-radius:0px;
		background:transparent;
		-moz-box-shadow:none;
		-webkit-box-shadow:none;
		box-shadow:none;
		-moz-box-sizing: none;
		-webkit-box-sizing: none;
		box-sizing: none;
	}
	.table-download{
	}
	.table-download th{
		border-bottom:1px solid gray;
	}
	.table-download td{
		
	}
	
	.upload-field{
		width:500px;
	}