body{font-family: 'Open Sans', sans-serif,Arial;}
.no-padding{padding:0px;}
.img-responsive{max-width:100%;}
a{cursor:pointer;}
.col-center{margin:0 auto; float:none;}
.center-block{display:block;margin:0 auto;}
.right-block{margin:0 0 0 auto;}
/*ESTILOS MENU*/
.navbar-expand-lg .navbar-nav .nav-link{color: #6e6d73;padding-right: .5rem;padding-left: .5rem;font-size:0.9em;cursor:pointer;}
.navbar-expand-lg .navbar-nav .nav-link:hover{color: #6e6d73;padding-right: .5rem;padding-left: .5rem;border-radius:25px;text-decoration: underline;}
.linkRight .nav-link{color: #022a3a;padding-right: .0rem !important;padding-left: .0rem !important;line-height:1.5rem;;font-size:0.9em !important;cursor:point;}
.linkRight .nav-link .separador{font-size:1.5rem !important;font-weight:100;}
.navbar {position: relative;display: -ms-flexbox;display: flex;-ms-flex-wrap: wrap;flex-wrap: wrap;-ms-flex-align: center;align-items: center;-ms-flex-pack: justify;justify-content: space-between;padding: 0rem 1rem;}
.navbar-collapse {-ms-flex-preferred-size: 100%;flex-basis: 35%;-ms-flex-align: center;align-items: center;}
.navbar-brand img{min-width:250px;}
.linkLang img{cursor:pointer;}
.img-right{display:block;margin:0 0 0 auto;}


/*ESTILOS BANNERS*/
.banners h2{ position: absolute;top:35%;font-size:2rem;line-height: 3rem;left:5%;color:#7d7b7e;}
.grisClaro{color:#afaeb1;}

/*ESTILOS HOME*/
.seccionGray{padding:100px 0px;background:#65646a;color:#f7f7f7;}
.textBannerHome{position: absolute;top: 30%;max-width: 40%;left: 8%;color:#65646a;font-size:1.8em;}
.bannerLink{text-decoration:underline;color:#FFFFFF;font-size:1.5rem;font-weight: 300;}
.titlesHome {vertical-align: text-bottom;margin-bottom: 0px;font-size: 1.8rem;color: #f7f7f7;}
.espaciadoHome{padding:25px 0px;}
.imgsDescrip{max-width:40%;}
.imgsHoms{max-width: 50%;}
.espacOffice,.espacConsulting{padding:7% 0%;}
.linksHoms{color:#e97c35;font-size:0.8rem;font-weight:300;text-decoration:underline;}
.delinHoms{border-top:1px solid #c6c5c5;border-bottom:1px solid #c6c5c5;}
.primHomsInfer{padding:0 0 100px 0;}
.estruc{max-width:70%;}
.textestruc{position:absolute;top:40%;left:31%;color:#6d7077;font-weight:300;}
.circuleHoms{background-color:#f7f7f7;padding:50px 0px;}
.ti1{color:#65646a;}
.ti2{color:#8b8a8f;}
.ti3{color:#a9a8ab;}
.sti{color:#6d7077;font-weight:300;font-size:1rem;}


/*ESTILOS SOLUCIONES*/
.titlesSolutions{position:absolute;top:15%;left:8%;font-size:2.3rem;}
.titlesSolutions img{max-width:150px;}
.grande{font-size:2.7rem;}
.azul{color:#272462;}
.azulClaro{color:#618db4;}
.naranja{color:#e97c35;}
.cian{color:#618db4;}
.blanco{color:#FFFFFF}
.morado{color:#272462;}
.gray{color:#6d7077;}
.blanco{color:#ffffff;}
.backDefine{padding:100px 0px;background:#f7f7f7;}
.backDefine img{max-width:70%;}

/*ESTILOS SHARE PANEL*/
.bredes{background: url('../images/backredes.jpg');background-position: center;background-repeat: no-repeat;background-size: cover;padding-top:50px;padding-bottom:50px;}


.listadoStaff li{list-style: none;font-size:1rem;margin-top:4%;margin-bottom:4%;font-size:0.9rem;}

/*ESTILOS COMO LO HACEMOS*/
.backhacemos{padding:100px 0px;background:#f7f7f7;}
.backhacemos h3{font-size:2rem;font-weight:600;}

.recuadros{padding:5%;}
.titulosRecuadros{margin-top:-15%;color:#ffffff;}
.parrafosRecuadros{color:#6d7077;font-weight:300;font-size:0.9rem;}


/*CONTACTO SOLUTIONS*/
.backContSolut{background: url('../images/bcontsolut.jpg');background-position: center;background-repeat: no-repeat;background-size: cover;padding-top:150px;padding-bottom:100px;}
.backContSolut h1{margin-bottom:40px;color:#FFFFFF;font-size:2rem;font-stretch: condensed;letter-spacing: 1px;}
#formContSolut .form-control {display: block;width: 100%;padding: 0.9rem 0.9rem;font-size: 1rem;line-height: 1.25;color: #495057;background-color: rgba(255,255,255,0.9);background-image: none;background-clip: padding-box;border: 0px solid rgba(255, 255, 255, 0.9);border-radius: 0rem;margin-top:3%;margin-bottom:3%;transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;}
#formContSolut .form-control ::placeholder {color:#6d7077;}


/*ESTILOS NOSOTROS*/
.mission h2 {color: #ffffff;font-weight: 300;line-height: 2.5rem;font-size: 2.3rem;margin-top: -15%;margin-bottom:15%;}
.mission strong{font-weight:500;letter-spacing: 1px;}
.iconografiaLink{width:20%;flex: 0 0 20%;}
.iconografia{width:100%;max-width:100%;flex: 0 0 20%;}
.iconografia img{max-width:70px;}
.iconografia h4{font-size:1.3rem;margin-top:15%;color:#6d7077;}
.titulos{margin:5% 0%;}
.titlesNosostros{vertical-align: text-bottom;margin-bottom: 0px;font-size: 2.5rem;color:#545557;}
.subtitleswe{color:#a1a1a3;font-weight:400;font-size:1.8rem;}
.imgTitles{max-width:200px;margin-bottom:1%;}
.espaciadoGris{background-color:#f9f9f9;padding:25px 0px;}
.titleVent{font-size: 1.4rem;font-weight: 500;letter-spacing: 1px;color: #8a8d92;margin-bottom:0px;margin-top:0px;}
.subtitleVent{font-size: 1rem;font-weight: 300;color: #8a8d92;margin-bottom:0px;margin-top:0px;}
.espaciCulture{background-color:#f9f9f9;padding:100px 0px;}
.titleCulture{color:#838487;font-weight:400;}
.subtitleCulture{color:#8a8d92;font-weight:300;padding:20px 40px;}
.espasAdvantage{padding:100px 0px 100px;}
.espacSolution{padding:0% 0% 10%;}
.imgCulture{max-width:35%;}


.sepLine{margin-top: 2rem;margin-bottom: 2rem;border: 0;border-top: 1px solid rgba(0, 0, 0, 1);}

/*ESTILOS STAFF*/
.defineTitle1{font-size: 3rem;font-weight: 600;margin: 0px 0px;line-height: 4.5rem;color:#424143;}
.defineSubtite1{color: #6d7077;font-size: 0.9rem;}
.definemotto1{font-size:0.9rem;}
.padddescripespe{padding-bottom:5%;}
.paddsupport{padding:100px 0px;}
.titleLog{line-height:4rem;font-size:1.75rem;font-weight:200;}
.logoTitle{max-width:250px;margin-top:-1.5%;}
.espaSupDes{padding-top:50px;}
.textSupDes{font-size:0.9rem;}
.espetitle{margin-bottom: 0px;line-height: 4rem;}

.defineTitle2{font-size: 3rem;font-weight: 600;margin: 0px 0px;line-height: 4.5rem;color:#081e3f;}
.defineSubtite2{color: #6d7077;font-size: 0.9rem;}
.definemotto2{font-size:0.9rem;}

.listados{-webkit-padding-start:0px;}
.listados li{margin: 20px 0px;color: #6d7077;font-size: 0.9rem;list-style: none;}
.listados li::before {
  content: "•     ";
  color: #f38035;
}
.listados2{-webkit-padding-start:0px;}
.listados2 li{margin: 20px 0px;color: #6d7077;font-size: 0.9rem;list-style: none;}
.listados2 li::before {
  content: "•     ";
  color: #1b3c6d;
}

.iconSolutions{max-width:290px;}
.descripcion2{padding:100px 0px;}
.descripcion2 h1{text-align: justify;font-size: 3rem;}
.descripcion2 p{font-size: 0.9rem;font-weight: 400;}
.especial{font-size:1rem;margin-top:2%;}

/*ESTILOS CONTACTO*/
.backContacto{background: url('../images/bcontacto.jpg');background-position: center;background-repeat: no-repeat;background-size: cover;padding-top:150px;padding-bottom:100px;}
.backContacto h1{margin-bottom:40px;color:#FFFFFF;font-size:3rem;font-stretch: condensed;letter-spacing: 1px;}
.backContacto h3{margin-top:0px;margin-bottom:40px;color:#FFFFFF;font-weight: 400;font-size:2.5rem;}
.backContacto p{margin-top:0px;margin-bottom:100px;color:#FFFFFF;font-weight:300px;font-size:1rem;}
#formContacto .form-control {display: block;width: 100%;padding: 0.9rem 0.9rem;font-size: 1rem;line-height: 1.25;color: #495057;background-color: rgba(255,255,255,0.7);background-image: none;background-clip: padding-box;border: 1px solid rgba(255, 255, 255, 0.7);border-radius: 0rem;margin-top:3%;margin-bottom:3%;transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;}
#formContacto .form-control ::placeholder {color:#6d7077;}
.checkbox{color:#ffffff}
.terminos{text-decoration:none;color:#ffffff;}
.terminos:hover{text-decoration:underline;;color:#ffffff;}
.btnContact{background-color: transparent;border:0px;padding:0px;}
.btnContact:hover{background-color: transparent;border:0px;text-decoraton:underline;}

.footer{padding:50px 0px 0px;}
.redesFooter{-webkit-padding-start: 0px;list-style: none;list-style: none;float: left;margin: 0;}
.redesFooter li {float: left;width: 50px;line-height: 80px;vertical-align: middle;text-align: center;margin: 0;}
.redesFooter img{min-width:40px;max-width: 40px;}
.redesFooter li a {width: 100px;text-decoration: none;color: #FFFFFF;}
.navFooter{margin:0px;font-size:0.9rem;}
.subcategoFooter{-webkit-padding-start: 0px;list-style: none;margin:5% 0%;color:#6d7077;}
.subcategoFooter li a{color:#6d7077;}
.parrafosFooter{margin:10% 0%;}
.grayFooter{background-color:#6d7077;padding:15px 0px;margin:5% 0% 0%}
.grayFooter p {color:#FFFFFF;font-size:0.8rem;}
.grayFooter a {color:#FFFFFF;}
.pfooterS{margin-bottom:1%;}
.no-margin{margin:0%;}
hr.v {width: 1px;height: 90%;border-left: 1px solid rgba(24,24,24,0.3);max-height:330px;}
@media screen and (min-width:1500px) and (max-width:16450px){
  .textBannerHome {position: absolute;top: 35%;max-width: 40%;left: 15%;  color: #65646a;font-size: 1.6em;}
  .navbar-collapse {-ms-flex-preferred-size: 100%;flex-basis: 40%;-ms-flex-align: center;align-items: center;}
}

@media screen and (min-width:1440px){
	.titlesSolutions{position:absolute;top:17%;left:10%;font-size:2.3rem;}
}

@media screen and (max-width:1300px){
  .navbar-collapse {-ms-flex-preferred-size: 100%;flex-basis:45%;-ms-flex-align: center;align-items: center;}
	.textBannerHome {position: absolute;top: 35%;max-width: 40%;left: 15%;color: #65646a;font-size: 1.3em;}
	.banners h2 {position: absolute;top: 40%;font-size: 1.8rem;line-height: 2.5rem;left: 5%;color: #7d7b7e;}
	.subtitleCulture {color: #8a8d92;font-weight: 300;padding: 20px 30px;}
	.titlesSolutions {position: absolute;top: 15%;left: 8%;font-size: 1.7rem;}
  .navbar-collapse {-ms-flex-preferred-size: 100%;flex-basis: 46%;-ms-flex-align: center;align-items: center;}
}

@media screen and (max-width:990px){
  .navbar-collapse {-ms-flex-preferred-size: 100%;flex-basis: 100%;-ms-flex-align: center;align-items: center; text-align: center;}
  .dropdown-menu {position: absolute;top: 100%;left: 0;z-index: 1000;display: none;float: left;min-width: 10rem;padding: 0.5rem 0;margin: 0.125rem 0 0;font-size: 1rem;color: #212529;text-align: left;list-style: none;background-color: #fff;background-clip: padding-box;border: 1px solid rgba(0, 0, 0, 0.0);border-radius: 0.25rem;text-align:center}
  .delinHoms {border-top: 0px solid #c6c5c5;border-bottom: 0px solid #c6c5c5;}
  .imgsHoms {max-width: 90%;}
  .titleVent{text-align: center;margin-bottom:1%;}
  .subtitleVent{text-align: center;margin-bottom:1%;}
  .linksHoms{text-align: center;margin:0 auto; display:block;}
  .parrafosFooter{text-align:center;}
  .subcategoFooter{text-align: center;}
  .pFooter2{text-align:center;}
  .ti1,.ti2,.ti3,.sti{text-align: center;}
  .linkLang{margin:0 auto;display:-webkit-box;}
  .checkbox{text-align:center;}
  .btnContact {background-color: transparent;border: 0px;padding: 0px;margin: 0 auto;display: block;}
  .backContacto h1 {margin-bottom: 40px;color: #FFFFFF;font-size: 2rem;font-stretch: condensed;letter-spacing: 1px;}
  .backContacto h3 {margin-top: 0px;margin-bottom: 40px;color: #FFFFFF;font-weight: 400;font-size: 1.8rem;}
  .backContacto p {margin-top: 0px;margin-bottom: 100px;color: #FFFFFF;font-weight: 300px;font-size: 0.8rem;}
  .redesFooter {-webkit-padding-start: 25%;list-style: none;float: none;margin: 0 auto;}
  .iconografiaLink {width: 100%;flex: 0 0 100%;}
  .textBannerHome{font-size: 0.56rem;top: 25%;left:10%;}
  .seccionGray{padding:30px 0px;}
  .logoBanner{display:none;}
  .bannerLink{font-size:1rem; color:#FFFFFF;}
  .espaSupDes img{max-width:70px;}
  .espaSupDes h3{text-align:Center;margin:10px 0px;}
  .descripcion2 .row,.espacSolution .row,.espasAdvantage .row{margin-left:0px;margin-right:0px}
  .espetitle{text-align:center;}
  .titlesSolutions img{display:none;}
  .titlesSolutions {position: absolute;top: 13%;left: 5%;font-size: 0.66rem;max-width:40%}
  .grande{font-size:1rem;}
  .backContSolut h1{font-size:1.7rem;}
  .backContSolut h3{font-size:1.3rem;}
  .titulosRecuadros {margin-top: -13%;color: #ffffff;}
  .listadoStaff{-webkit-padding-start:0px;}
  .descripcion2 h1{font-size: 1.7rem;text-align: center;}
  .descripcion2 h4{text-align: center;font-size: 1.1rem;}
  .redesCol{-ms-flex: 0 0 33.333333%;flex: 0 0 33.333333%;max-width: 33.333333%;}
  .redesCol img{max-width: 40px;}
  .imgTitles {max-width: 200px;margin-bottom: 5%;}
  hr.v{display:none;}
  #himgStaff{content: url('../images/iconMbStaff.svg');display:block;margin:0 auto 5%;}
  #himgtax{content: url('../images/iconMbTax.svg');display:block;margin:0 auto 5%;}
  #himgGlobal{content: url('../images/iconMbGlobal.svg');display:block;margin:0 auto 5%;}
  #himgHead{content: url('../images/iconMbHead.svg');display:block;margin:0 auto 5%;}
  #himgTalent{content: url('../images/iconMbTalent.svg');display:block;margin:0 auto 5%;}
  #himgCircule{content: url('../images/circuleMb.svg');display:block;margin:0 auto 5%;}
  .textestruc {position: absolute;top: 30%;left: 32%;color: #6d7077;font-weight: 300;font-size: 1.3rem;}
  .defineTitle1 {font-size: 2.5rem;font-weight: 600;  margin: 0px 0px;line-height: 3.5rem;color: #424143;text-align:center;}
  .defineTitle2{text-align:center;}
  .banners h2 {position: absolute;top: 35%;font-size: 0.5rem;line-height: 1rem;left: 5%;color: #7d7b7e;}
  .titlesNosostros{text-align:center;}
  .imgCulture {max-width: 80%;}
  /*.separadorN{transform:rotate(90deg);}*/
  .mission h2 {font-size: 0.8rem;line-height: 1.5rem;margin-top: -21%;margin-bottom: 0%;}
  .separadorN{content: url('../images/lineaGris.svg');margin:10px auto;}
  .espaciadoGris{display:none;}
  .iconografia h4 {font-size: 1.3rem;margin-bottom: 15%;color: #6d7077;margin-top:3%;}
}


.was-validated .form-control:invalid, .form-control.is-invalid, .was-validated .custom-select:invalid, .custom-select.is-invalid {
    border: 2px solid !important;
    border-color: #dc3545 !important;
}
