/*!
 * Start Bootstrap - Scrolling Nav HTML Template (http://startbootstrap.com)
 * Code licensed under the Apache License v2.0.
 * For details, see http://www.apache.org/licenses/LICENSE-2.0.
 */
body{height:100%;}
html{height:100%;}
@media(min-width:767px){ .navbar{padding: 8px 0px 10px 0px;border-top: 10px solid #05256d;-webkit-transition:background .5s ease-in-out,padding .5s ease-in-out;-moz-transition:background .5s ease-in-out,padding .5s ease-in-out;transition:background .5s ease-in-out,padding .5s ease-in-out;} .top-nav-collapse{padding:10px 0;} }
/* Demo Sections - You can use these as guides or delete them - the scroller will work with any sort of height, fixed, undefined, or percentage based.
The padding is very important to make sure the scrollspy picks up the right area when scrolled to. Adjust the margin and padding of sections and children 
of those sections to manage the look and feel of the site. */
.intro-section{height:auto;padding-top:100px;background:#ffffff;}
.intro-section h1{font-size:50px;color:#16216a;font-weight:500;}
.services-section h1{color:#012168;font-size:50px;font-weight:300;}
.services-section h4{color:#05256d;}
.services-section{height:auto;padding-top:30px;text-align:center;background:#ffffff;}
.contact-section{height:auto;text-align:center;background:#4e528e;}
.footer-section1{height:auto;}
.footer-section{height:auto;background-color:#012168;}
.section-padding{padding:66px 0;}

.titulo{
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

table.tabla thead .sorting_asc {
  background: url("http://cdn.datatables.net/1.10.0/images/sort_asc.png") no-repeat center left;
  padding-left: 20px;
}
table.tabla thead .sorting_desc {
  background: url("http://cdn.datatables.net/1.10.0/images/sort_desc.png") no-repeat center left;
  padding-left: 20px;
}
table.tabla thead .sorting {
  background: url("http://cdn.datatables.net/1.10.0/images/sort_both.png") no-repeat center left;
  padding-left: 20px;
}

.tabla { 
    width: 100%; 
    border-collapse: collapse; 
}
/* Zebra striping */
.tabla,td,th  { 
    border-width: .5px;
    border-color: #012168;
    border-style: solid;

}


@media 
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {

    /* Force table to not be like tables anymore */
    table, thead, tbody, th, td, tr { 
        display: block; 
    }

    /* Hide table headers (but not display: none;, for accessibility) */
    thead tr { 
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    tr { border: 1px solid #ccc; }

    td { 
        /* Behave  like a "row" */
        border: none;
        border-bottom: 1px solid #eee; 
        position: relative;
        padding-left: 50%; 
    }

    td:before { 
        /* Now like a table header */

        /* Top/left values mimic padding */
        top: 6px;
        left: 6px;
        width: 45%; 
        padding-right: 10px; 
        white-space: nowrap;
        font-weight: bold;
    }

    /*
    Label the data
    */
    td:nth-of-type(1):before { content: "GIRO:"; }
    td:nth-of-type(2):before { content: "PROVEEDOR:"; }
    td:nth-of-type(3):before { content: "DIRECCION:"; }
    td:nth-of-type(4):before { content: "COLONIA:"; }
}