body{
	font-family: 'Roboto', sans-serif;
}
#mainNav{background-color:#FFFFFF;border-bottom:1px solid #939498;}
.navbar-expand-lg .navbar-nav .nav-link{
	color: #022a3a;
	padding-right: .5rem;
    padding-left: .5rem;
    font-size:0.8em;
    cursor:pointer;
}
.btn-sumar,#enviarform{cursor:pointer;}
.navbar-expand-lg .navbar-nav .nav-link:hover{
	color: #82bc00;
	padding-right: .5rem;
    padding-left: .5rem;
    border-radius:25px;
}
.margininicio{margin-top:85px;}
.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(2,42,58, 0.7)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  color:#000000;
}
.btn-sumar {
    color: #fff;
    background-color: #1b1f3a;
    border-color: #007bff;
}
.espaciadoTablas{margin-top:50px;margin-bottom:100px;}
#datosHospitales,#datosDoctores{}
.listas{list-style: none;padding:0;}
#about{margin-top:8.5%;}
#about .somoscuar{margin-top:5.5%;}
#about .somoscuar .imgss{margin-bottom:2.5%;}
#about .somoscuar img{max-width:350px;}
.azul{color:#022a3a;}
.verde{color:#82bc00;}
.abouttext{font-size:1.1em;line-height:1.5em;}
.no-padding{padding:0px;}
.somoscuar{background-color:#1b1f3a;padding:50px 0px 100px;}
.somoscuar h3{font-size:1.6em;color:#FFFFFF;font-weight:400;margin-bottom:2rem;}
.somoscuar p{font-size:1em;color:#FFFFFF;font-weight:200;}
#services{padding:0px 0px 50px 0px;}
.experiencia{padding:50px 0px;background-color:#f3f3f3;}
.seguros{padding:50px 0px;}
.titles{color:gray;font-weight:400;font-size:1.8em;}
.subtitles{color:#1b1f3a;font-weight:600;}
.puntosexp,.puntosseg{padding:25px 0px;}
.right-block{margin:0 0 0 auto;}
.modal-body{padding:5px;}
.modal-header {border-bottom: 0px solid #e9ecef;}
#contact{background-color:#1b1f3a;padding:50px 0px;;}
.center-block{display:block;margin:0 auto;}
.directorios{margin-top:150px;}
.directorios h1{font-size:1.7rem;font-weight:400;letter-spacing:2px;margin-top:20px;margin-bottom:40px;}
.directorios p{font-size:1.3rem;font-weight:300;margin-top:0px;margin-bottom:20px;}
#formcontact label{color:#FFFFFF;font-weight:400;margin:0.6rem 0rem;}
#formcontact .form-control {
    font-size: 1rem;
    font-weight:300;
    line-height: 1.25;
    color: #495057;
    background-color: #E5E5E5;
    background-image: none;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: .25rem;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
#formcontact .form-control:focus {
    color: #495057;
    background-color: #E5E5E5;
    border-color: #82bc00;
    outline: 0;
}
.alert-danger {
    color: #721c24;
    background-color: #e20404;
    border-color:#e20404;
    border-radius:20px;
}
.has-danger .form-control-danger {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' f…%3E%3Ccircle cy='3' r='.5'/%3E%3Ccircle cx='3' cy='3' r='.5'/%3E%3C/svg%3E");
}
.has-danger .form-control {
	border:3px solid #e20404;
	border-radius:5px;
}
#logotipo{max-width:300px;}
.maps{margin:0 auto;display:block;width:100%;}
.titlescontact{font-weight:400;color:#808080;padding:0px 0px 50px 0px;}
footer{background-color:#495057;}
.mapping h4{font-weight:500;font-size:1.2em;color:#FFFFFF;}
.mapping p{font-weight:300;font-size:0.9em;color:#FFFFFF;}
.mapping ul{padding:0px 15px;}
.mapping ul li{list-style:none;;background: url('../imgs/puntero.svg') top left no-repeat;background-size:15px 20px;padding-left:25px;color:#FFFFFF;font-weight:200;}
.redes h4{font-weight:500;font-size:1.2em;color:#FFFFFF;}
.redes p{font-weight:300;font-size:0.9em;color:#82bc00;font-style:italic;line-height:2.5em;}
.redes a{text-decoration:none;}
.iconos{max-width:60px;margin:0 auto;display:block;}
footer p{margin: 1rem 0rem;font-size: 0.8em;font-style: italic;color: #fff;font-weight: 200;}
@media screen and (max-width:770px){
	#logotipo{
		content:url('../imgs/mas.jpg');
		max-width: 50px !important;
	}
	.margininicio{margin-top:77px;}
}

.col-center{margin:0 auto; float:none;}
#cargador{margin-top:20px;display:none;}
.circle {
	background-color: rgba(0,0,0,0);
	border:5px solid rgba(0,183,229,0.9);
	opacity:.9;
	border-right:5px solid rgba(0,0,0,0);
	border-left:5px solid rgba(0,0,0,0);
	border-radius:50px;
	box-shadow: 0 0 35px #2187e7;
	width:50px;
	height:50px;
	margin:0 auto;
	-moz-animation:spinPulse 1s infinite ease-in-out;
	-webkit-animation:spinPulse 1s infinite linear;
}
.circle1 {
	background-color: rgba(0,0,0,0);
	border:5px solid rgba(0,183,229,0.9);
	opacity:.9;
	border-left:5px solid rgba(0,0,0,0);
	border-right:5px solid rgba(0,0,0,0);
	border-radius:50px;
	box-shadow: 0 0 15px #2187e7; 
	width:30px;
	height:30px;
	margin:0 auto;
	position:relative;
	top:-40px;
	-moz-animation:spinoffPulse 1s infinite linear;
	-webkit-animation:spinoffPulse 1s infinite linear;
}

@-moz-keyframes spinPulse {
	0% { -moz-transform:rotate(160deg); opacity:0; box-shadow:0 0 1px #2187e7;}
	50% { -moz-transform:rotate(145deg); opacity:1; }
	100% { -moz-transform:rotate(-320deg); opacity:0; }
}
@-moz-keyframes spinoffPulse {
	0% { -moz-transform:rotate(0deg); }
	100% { -moz-transform:rotate(360deg);  }
}
@-webkit-keyframes spinPulse {
	0% { -webkit-transform:rotate(160deg); opacity:0; box-shadow:0 0 1px #2187e7; }
	50% { -webkit-transform:rotate(145deg); opacity:1;}
	100% { -webkit-transform:rotate(-320deg); opacity:0; }
}
@-webkit-keyframes spinoffPulse {
	0% { -webkit-transform:rotate(0deg); }
	100% { -webkit-transform:rotate(360deg); }
}

