@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,800');
body{background-color:#f7f7f7;font-family: 'Open Sans', sans-serif,Arial;font-weight:400;}
.mobileHeader{display:none;}
.headerBack{background:#fff;}
.header{width:100%;max-width:960px;margin:0 auto;}
.headerContainer{min-height:105px;position:relative;}
.logoHeaderContainer{float:left;position:absolute;top:25px;background:#fff;}
.idiom{position:absolute;right:5px;top:10px;}
.idiom ul{list-style:none;}
.idiom ul li{float:left;margin:0 10px 0 0;}
.idiom ul li:first-child a{border-right:1px solid #838383;padding:0 10px 0 0;}
.idiom a{color:#838383;text-decoration:none;}
.idiom .active{font-weight:700;}
.nav{position:absolute;left:120px;top:45px;width:100%;max-width:839px;}
.nav ul {width:100%;list-style: none;text-align: center;padding: 0;margin: 0;}
.nav li {display:inline-block;width:14%;font-size: 14px;line-height: 40px;text-align: center;margin:0 0 0 20px;}
.nav li:first-child{text-align:left;}
.nav > ul > li { float: left;position: relative; }
.nav a {text-decoration: none;color: #838383;display: block;transition: .3s color;}
.nav a:hover {color: #0a1a72;font-weight:700;}
.nav li a span{display:none;color:#fd8204;}
.nav li:hover a span{display:inline-block;}
.nav li:nth-child(5) a{color:#fff;font-weight:700;}
.nav li:nth-child(5){background-color:#fd8204;color:#fff;}
.nav li:nth-child(5):hover{border-top:2px solid #c06303;}
.nav li:nth-child(6) a{color:#0a1a72; font-weight:700;}
.nav li:nth-child(6){border:1px solid #0a1a72;}
.nav li:nth-child(6):hover{background: rgba(255,255,255,1);}

.nav li ul{display:none;background-color:#fff;padding:10px;width:100%;}
.nav ul li ul { position: absolute;}
.nav li ul li:first-child{text-align:center;} 
.nav li ul li{display:block;width:100%;font-size:12px;line-height:normal;text-align: center;margin:0;border-bottom:1px solid #838383;padding:10px 0}
.nav li:hover ul{display:block;}
.nav li ul li:nth-child(5) a{font-weight:400;color:#838383;}
.nav li ul li:nth-child(5){background-color:transparent;}
.nav li ul li:nth-child(5):hover{background-color:transparent;border-top:none;}
.nav li ul li:nth-child(5):hover a{color: #0a1a72;font-weight:700;}

/*	FOOTER		*/
.footerBackground{background-color:#ffffff;width:100%;padding:50px 0;position:relative;}
.barraFooter{width:100%;vertical-align: top;}
.flexbox {display: -webkit-flex;display: -ms-flexbox;display: flex;overflow: hidden;width:100%;max-width:960px;margin:0 auto;}
.flexbox .col:nth-child(1) {order: 0;width:30.333%;border-right:1px solid #666;margin:0 3%;}
.flexbox .col:nth-child(2) {order: 1;width:30.333%;border-right:1px solid #666;margin:0 3% 0 0;}
.flexbox .col:nth-child(3) {order: 2;width:30.333%;margin:0 3% 0 0;}
#lastColumn{position:relative;}
.thirdColumnBox{position:absolute;bottom:0;}
#fCandidatos{background-color:#fd8204;color:#fff;font-weight:700;display:inline-block;padding:10px;width:97px;}
#fCandidatos a{color:#fff;text-decoration:none;font-weight:700;display:inline-block;}
#fEmpleados{background-color:#fff;border:1px solid #0a1a72;display:inline-block;padding:10px;width:97px;text-align:center;}
#fEmpleados a{color:#0a1a72;font-weight:700;text-decoration:none;}
#footerContainer{display:none;}
.logoFooter{width:60%;}
.footerText1,.footerText1 a{color:#666666;font-weight:700;font-size:12px;padding:0;margin:0 0 10px 0;text-decoration:none;}
.footerText2,.footerText2 a{color:#707070;font-size:12px;padding:0;margin:0 0 10px 0;text-decoration:none;}
.footerText2 span{font-size:10px;}
.footerText3,.footerText3 a{color:#2b6793;font-weight:700;font-size: 12px;padding:20px 0;}
.footerText1 a:hover,.footerText2 a:hover,.footerText3 a:hover{color:inherit;cursor:pointer;}
.searchContainer{width:100%;overflow: hidden;}
.inputSearch::-webkit-input-placeholder,
.inputSearch:-moz-placeholder,
.inputSearch::-moz-placeholder,
.inputSearch:-moz-input-placeholder,
{color:#b3b3b3;font-size: 12px;}
.inputSearch{width:80%;height:43px !important;border-top:1px solid #808080 !important;border-right:none !important;border-bottom:1px solid #808080 !important;border-left:1px solid #808080 !important;border-radius:0 !important;color:#b3b3b3 !important;margin-bottom:0;}
.submitSearch{width:20%;height:43px;float:right;}
.submitSearch:hover{cursor:pointer;}
.footerFooter{width:460px;text-align: center;margin:0 auto;overflow: hidden;padding:60px 0;font-size: 12px;}
.footerList{width:50%;margin:25px auto;}
.footerList li{list-style: none;float:left;padding:0 10px;}
.footerList a{color:#848484;text-decoration: underline;}

@media (max-width: 1200px) {
	.idiom{right:9%;}
	.nav{width:84%;}
	.nav ul li{margin:0 10px 0 0;}
	.nav ul li:first-child{width:16%;}
	.nav ul li ul li:first-child{width:100%;}
}
@media (max-width: 800px) {
	.mobileHeader{display:block;}
	.header{display:none;}
	.logo-container {padding: 12px 0;text-align: center;background:#fff;}
	.toggle + a,input[type="checkbox"]{display:none;}
	.toggle { display: block; letter-spacing:10px; background-color: #fff;text-decoration: none;border: none;width:100%;font-weight:400;}
	.toggle  p{display:inline-block;margin:0 0 0 10px;padding:0;}
	ul{padding-left:0;}
	#navcontainer{display:none;}
	[id^=drop]:checked + #navcontainer{display:block;}
	#navlist{list-style-type: none;}
	#navlist li{margin:20px 0;}
	#navlist .active{font-weight:700;}
	#active ul{margin-bottom:0;background-color:#fd8204;}
	[id^=downM]:checked + #subnavlist li{display:block;}
	#active li:first-child{padding:10px 0 0 0;}
	#active li:last-child{padding:0 0 10px 0;}
	#active li { display: none;margin:10px 0; }
	#active label{color:#666;font-weight:500;}
	#navcontainer{width: 100%;}
	#navcontainer a{font-family: 'Open Sans', sans-serif;color:#666;width: 100%;text-decoration:none;}
	#navcontainer a:active{color: #0a1a72;font-weight:700;}
	#navcontainer a:hover{color: #0a1a72;font-weight:700;}
	#active ul li a{color:#fff;}
	
	.flexbox{display:none;}
	#footerContainer{display:block;}
	.logoFooter{width:auto;}
	
	.inputSearch{width:90%;}
	.submitSearch{width:10%;}
}