.misionContainer{width:100%;position:relative;padding:0;margin:0;max-height:654px}
.full{width:100%;display:block;}
#cultura{padding:100px 0;text-align:center;}
#cultura .column{text-align:left;}
#cultura h1{font-size:40px;color:#666;}
#cultura h1 b{color:#0a1a72;}
.ventajasContainer{background-color:#f7f7f7;padding:100px 0;}
#bullets h3{font-size:35px;color:#4d4d4d;font-weight:400;}
#bullets h3 b{color:#0a1a72;font-weight:800;}
#bullets ul{list-style-image: url("../img/bullet.png");}
#bullets p{color:#4c4c4c;}
.misionContainer{background-image:url("../img/A3O-FondoAzulM.png");background-size:cover;width:100%;padding:100px 0;text-align:center;}
.misionContainer p{color:#fff;}
.socioTitle{font-size:2.2em;text-align:center;}
.socioText{font-size:2.5em;}
.subirBox{width:100%;max-width:960px;margin:0 auto;}
.subirContainer{position:absolute;bottom:0;width:100%;text-align: left;height:40px;}
.subir:hover{cursor: pointer;}
.pira{width:100%;display:none;}
#spriteContainer {
  width: 390px;
  height: 266px;
  display: block;
  margin:100px 0;
  background: url("../img/pira/pira1.png");
  -webkit-animation: sprite 15s steps(120) infinite;
     -moz-animation: sprite 15s steps(120) infinite;
       -ms-animation:sprite 15s steps(120) infinite;
          animation: sprite 15s steps(120) infinite;
}

@-webkit-keyframes sprite { 0%{background-position:46800px 0;}  }
   @-moz-keyframes sprite { 0%{background-position:46800px 0;}	}
     @-o-keyframes sprite { 0%{background-position:46800px 0;}	}
        @keyframes sprite { 0%{background-position:46800px 0;}	}
        
@-webkit-keyframes spriteF { 0%{background-position:4290px 0;}  }
   @-moz-keyframes spriteF { 0%{background-position:4290px 0;}	}
     @-o-keyframes spriteF { 0%{background-position:4290px 0;}	}
        @keyframes spriteF { 0%{background-position:4290px 0;}	}
        
@-webkit-keyframes spriteM { 0%{background-position:72000px 0;}  }
   @-moz-keyframes spriteM { 0%{background-position:72000px 0;}	}
     @-o-keyframes spriteM { 0%{background-position:72000px 0;}	}
        @keyframes spriteM { 0%{background-position:72000px 0;}	}
        
@media (max-width: 880px) {
	#cultura{padding:20px;}
	.ventajasContainer{padding:20px;}
	#spriteContainer{width:100%;}
	.misionContainer{padding:50px 0;}
	.solucionesTitle{font-size:41px;}
	.socioText{font-size:1em;}
	.ventajasContainer{background-color:#fff;}
	#spriteContainer {
		margin:0;
		width: 300px;
  		height: 257px;
		background: url("../img/pira/piramide300.png");
		-webkit-animation: spriteM 15s steps(240) infinite;
		     -moz-animation: spriteM 15s steps(240) infinite;
		       -ms-animation:spriteM 15s steps(240) infinite;
		          animation: spriteM 15s steps(240) infinite;
	}
}