/**
 *********************************************
 * Prototype of styles for horizontal CSS-menu
 * @data 30.06.2009
 *********************************************
 * (X)HTML-scheme:
 *  <div id="menu">
 *      <ul class="menu">
 *          <li><a href="#" class="parent"><span>level 1</span></a>
 *              <div><ul>
 *                  <li><a href="#" class="parent"><span>level 2</span></a>
 *                      <div><ul><li><a href="#"><span>level 3</span></a></li></ul></div>
 *                  </li>
 *              </ul></div>
 *          </li>
 *          <li class="last"><a href="#"><span>level 1</span></a></li>
 *      </ul>
 *  </div>
 *********************************************
 */

/* menu::base */


@font-face {
	font-family: "myriad";
	src: url("myriad/myriad.otf");
	font-family:faksjf;
}
div#menu {
     height: 80px;
	
	width: 960px;
	
	
	margin-left:auto;
	
	
	margin-right:auto;

	
/*	background-image: url("img/headera3o.png");*/
	background-repeat:no-repeat;
	

	
}


#menubackground{

	background-image: url("img/headera3o.png");
	background-repeat:repeat;
	height: 80px;
	
	width: 100%;
	

}
div#menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
    float: left;
	padding-top:25px;
	padding-left:30px;
}
div#menu ul.menu {
    padding-right: 6px;
    
}

div#menu li {
    position: relative;
    margin: 0;
    padding: 0 0px 0 0;
    display: block;
    float: left;
	
    z-index: 9;
    width: auto;
}
div#menu ul ul li {
    z-index: 9;
}
div#menu li div {
    list-style: none;
    float: left;
    position: absolute;
    z-index: 11;
    top: 52px;
    left: 0;
    visibility: hidden;
    width: 180px;
	height:10px;
	  margin: 0px 0 0 -4px;
    padding: 0; 
	
	
	background: url("img/subsubmenu-top.png") no-repeat 0px 4px ;
    _background: url("img/subsubmenu-top.gif") no-repeat 0px 0;
 
}
div#menu ul ul {
	  z-index: 12;
    padding: 0px 4px 10px 4px;
	
	  background: url("img/submenu-bottom.png") no-repeat 0px bottom;
    
        
    margin: 10px 0 0 0;    
}
/*_background: url("img/submenu-bottom.gif") no-repeat 0px bottom; */
div#menu li:hover>div {

    visibility: visible;
	
}

div#menu a {
    position: relative;
    z-index: 10;
    height: 50px;
    display: block;
    float: left;
    line-height: 50px;
    text-decoration: none;
    margin-top: 1px;
    white-space: nowrap;
    width: auto;
    padding-right:5px;
    text-align:center;
}
div#menu span {
    margin-top: 2px;
    padding-left: 15px;
    color:white;
	font-weight:bold;
	font-size:15px;
	font-family:myriad,Arial;
    font: normal 15px myriad,Arial,FreeSans,sans-serif;
    background: none;
    line-height: 50px;	
    display: block;
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: 95% 0;
    text-align: center;
}

/* menu::level1 */
div#menu a {
    padding: 0 10px 0 0;
    line-height: 50px;
    height: 52px;
    margin-right: 5px;
    _margin-right: 1px;
    background: none;
    
}
div#menu a:hover {
      
    font-weight:bold; 
	
}
div#menu li.current a,
div#menu ul.menu>li:hover>a {

padding-top:0px;
border-bottom-style:solid;
border-width:1px;
color:#FF8800;
padding-bottom:0px;
    
}

div#menu ul.menu>li:hover>a span {
	   font-weight:bold;
}
div#menu li { 


 }
div#menu li.last { background: none; }

/* menu::level2 */
div#menu ul ul li {
    background: none;
    padding: 0;
}
div#menu ul ul a {
    padding: 0px;
    height: auto;
    float: none;
    display: block;
    line-height: 25px;
    font-size: 13px;
    color: red;
    z-index: -1;
    padding-left: 5px;
    white-space: normal;
    width: 152px;
    margin: 0 8px;
    text-transform: none;
}
    
div#menu ul ul a span {
	padding: 0 5px;
    line-height: 25px;
    font-size: 13px;
	background:none;
	
	padding-top:0px;
	border-bottom-style:solid;
	border-width:1px;
	
	padding-bottom:0px;
}
div#menu li.current ul a,
div#menu li.current ul a span {
    background:none;
}
div#menu ul ul a:hover {
 background:none;

}
div#menu ul ul a:hover span {
	background:none;
	font-weight:bold;
	
}
/*
background:none;
font-weight:bold;
padding-top:0px;
border-bottom-style:solid;
border-width:1px;
color:#FF8800;
padding-bottom:0px;
color:blue;*/
div#menu ul ul a.parent {
 
}
div#menu ul ul a.parent span {
	
  background:none; 
}
div#menu ul ul a.parent:hover {
  

}
div#menu ul ul a.parent:hover span {
  background:none; 
}
div#menu ul ul span {
	
    margin-top: 5px;
	
    text-align: center;
}
div#menu ul ul li.last { background: none; }
div#menu ul ul li {
    width: 100%;
}

/* menu::level3 */
div#menu ul ul div {
	  width: 180px;
	  padding: 0;
    margin: -62px 0 0 165px !important;
}
div#menu ul ul ul {
    padding: 10px 4px 0 4px;	
}
div#menu ul ul div li {
    position:relative;
    top:-10px;
}

/* lava lamp */
div#menu li.back {
    
    width: 5px;
    height: 52px;
    z-index: 8;
    position: absolute;
    padding: 0;
    margin: 0px 0 0 0;
}

div#menu li.back .left {
    padding:0;
    width:auto;
     
    height: 52px;
    margin: 0 0 0 5px;
    float: none;
    position: relative;
    top: 0;
    left: 0;
    visibility: visible;
}
